@page "/ticket/{ticketId}"
@using Blazor.Services

@code {

    [Parameter]
    public string TicketId { get; set; }

    public List<Data.Models.Ticket> Tickets { get; set; }
    public Data.Models.Ticket? CurrentTicket { get; set; }

    [Inject]
    private ITicketsProvider ticketsProvider { get; set; }

    protected async override Task OnInitializedAsync()
    {
        CurrentTicket = await ticketsProvider.GetOne(Int32.Parse(TicketId));
        Tickets = await ticketsProvider.GetAll();
        Console.WriteLine(CurrentTicket);
        base.OnInitialized();
    }

}


<h3>Информация о рейсе</h3>

@if (CurrentTicket != null)
{
    <div class="ticketBlock">
        <div class="field">
            <label class="label">ID</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Id" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Страна</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Country" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Стоимость</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Price" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Место</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Place" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Пункт назначения</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Dest" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Посадочный талон</label> <input class="form-control valueField" type="text" value="@CurrentTicket.NumPass" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Рейс</label> <input class="form-control valueField" type="text" value="@CurrentTicket.Flight" aria-label="Disabled input example" disabled readonly>
        </div>
    </div>

    <h3>Пассажиры</h3>
    <table class="table">
        <thead>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Номер телефона</th>
        </thead>
        <tbody>
        @foreach (var art in CurrentTicket.Customers)
        {
            <tr>
                <td>@art.Name</td>
                <td>@art.Surname</td>
                <td>@art.SecName</td>
                <td>@art.Age</td>
                <td>@art.Doc</td>
                <td>
                    <div class="artTickets">
                        @foreach (var artTickets in Tickets)
                        {
                            if (artTickets.Customers.Any(x => x.Id == art.Id))
                            {
                                <span class="ticketTag">@artTickets.Flight</span>
                            }
                        }
                    </div >
                </td>
            </tr>
        }
        </tbody>
    </table>

    <h3>Бронирования</h3>
    <table class="table">
        <thead>
        <th>Страна</th>
        <th>Город</th>
        <th>Место</th>
        </thead>
        <tbody>
        @foreach (var tic in CurrentTicket.Hotels)
        {
            <tr >
                <td>@tic.HotelName</td>
                <td>@tic.GuideName</td>
                <td>@tic.Room</td>
                <td>@tic.CarName</td>
            </tr>
        }
        </tbody>
    </table>
}